<%= turbo_frame_tag @task do %>
  <%= form_with model: @task do |form| %>
    <div class="flex justify-between">
      <%= form.text_field :description %>
      <div class="flex space-x-2">
        <%= link_to "Cancel", tasks_path, class: "edit-btn"  %>
        <%= form.submit "Save", class: "btn" %>
      </div>
    </div>
  <% end %>
<% end %>

